.controllers {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-evenly;
  letter-spacing: 1.5px;
  .control {
    color: #fff;
    padding-right: 1rem;
  }
  select {
    color: gray;
  }
  .controlArea {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5 {
      text-decoration: underline;
    }
    .reset-button {
      padding: 0.2rem;
      margin-top: 0.5rem;
      color: gray;
    }
  }
}

li {
  list-style: none;
}
